.flex-shrink-0{
   width: 50% !important;

}
.flex-shrink-0 img{
    width: 100% !important;
    margin-top: 150px;
}
.col-sm-10{
    margin-top:155px;
}
.password{
    margin-top:10px
}
.btn-primary{
    padding :10px 30px
}
a{
    text-decoration: none;
    color: red;
}